body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #FFFFFF;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  color: #212121;
}
@media screen and (max-width: 1199px) {
  .container__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .container__title {
    margin-bottom: 50px;
  }
}

.section__title {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header-container {
  position: relative;
  border-bottom: 1px solid #ECECEC;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .main-nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 84px;
  }
  .main-nav__list > li:not(:last-child) {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav__list {
    margin-right: 305px;
  }
}
.main-nav__item {
  position: relative;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__item:hover, .main-nav__item:focus {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .main-nav__item {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}
.main-nav__current {
  color: #2196F3;
  position: relative;
}
.main-nav__current::after {
  display: none;
}
@media screen and (min-width: 1200px) {
  .main-nav__current::after {
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    content: "";
    background-color: #2196F3;
    border-radius: 2px;
    margin-top: 29px;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 25%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__item:nth-child(1) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.contacts__link {
  color: #757575;
  text-decoration: none;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .contacts__link {
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #757575;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: #2196F3;
    fill: #2196F3;
  }
}
@media screen and (min-width: 768px) and (max-width: 767px) {
  .contacts__link--mail {
    margin-top: 32px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contacts__link--mail {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}
@media screen and (max-width: 767px) {
  .contacts--telephone {
    color: #2196F3;
  }
}
.contacts__icon {
  fill: currentColor;
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    fill: currentColor;
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
}

.menu-button {
  display: inline-block;
  top: 11px;
  right: 11px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}
.menu-button:hover .menu__icon, .menu-button:focus .menu__icon {
  fill: #2196F3;
}
.menu-button:hover .menu__icon-close, .menu-button:focus .menu__icon-close {
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .menu__icon-close {
  display: none;
}

.menu-button.is-open .menu__icon-close {
  display: block;
}

.menu-button.is-open .menu__icon {
  display: none;
}

.menu-list {
  display: none;
}
.menu-list.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 1;
  height: 100vh;
  padding-left: 40px;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 25%;
  max-width: 356px;
}
.menu-social__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
.menu-social__item:nth-child(1) {
  margin-left: 0;
}
.menu-social__link {
  color: #2196F3;
  text-decoration: none;
}
@media screen and (max-width: 387px) {
  .menu-social {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu-social__item:last-child {
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .menu-social {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contacts-box {
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .contacts--list {
    margin-left: auto;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}
.logo--header {
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .logo--header {
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo--header {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}
.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
}
.logo__dark {
  color: #212121;
}
.logo__light {
  color: #FFFFFF;
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background: #2F303A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(hsla(235deg, 10%, 21%, 0.4))), url(../images/Img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), hsla(235deg, 10%, 21%, 0.4)), url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/for_mob/hero-mobile-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/for_mob/hero-mobile-2x.jpg);
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/for_mob/Hero-mob-3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/for_mob/Hero-mob-3x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/for_tablet/Hero-tablet1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/for_tablet/Hero-tablet1x.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/for_tablet/Hero-tablet2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/for_tablet/Hero-tablet2x.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 3), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 481px) and (min-resolution: 288dpi), screen and (min-width: 481px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/for_tablet/Hero-tablet-3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/for_tablet/Hero-tablet-3x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/for_desktop/Hero-desktop1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/for_desktop/Hero-desktop1x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/for_desktop/Hero-desktop2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/for_desktop/Hero-desktop2x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 3), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 769px) and (min-resolution: 288dpi), screen and (min-width: 769px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/for_desktop/Hero-desktop3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/for_desktop/Hero-desktop3x.jpg);
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 479px) {
  .hero__title {
    max-width: 360px;
  }
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  padding: 10px 32px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .buttons-list {
    max-width: 480px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .buttons-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .buttons-list {
    margin-bottom: 50px;
  }
}
.buttons-list__item:not(:last-child) {
  margin-right: 8px;
}
.buttons-list > li:not(:last-child) {
  margin-right: 8px;
}
.buttons-list__item {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons-list__item:hover, .buttons-list__item:focus {
  background: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 767px) {
  .buttons-list__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.portfolio-label {
  position: relative;
  width: 100%;
  background: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .portfolio-label:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 505px) and (max-width: 767px) {
  .portfolio-label {
    -ms-flex-preferred-size: calc((100% - 10px) / 2);
        flex-basis: calc((100% - 10px) / 2);
    margin-right: 10px;
  }
  .portfolio-label:nth-child(2n), .portfolio-label:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-label {
    margin-right: 30px;
    margin-bottom: 30px;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .portfolio-label:nth-child(2n) {
    margin-right: 0;
  }
  .portfolio-label:nth-child(n+8) {
    margin-bottom: 0;
  }
  .portfolio-label:nth-child(8) {
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-label {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
  .portfolio-label:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio-label:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
.portfolio-label__link {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-label__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 481px) {
  .portfolio-label__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.image-card {
  padding: 20px 24px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}
@media screen and (min-width: 505px) and (max-width: 767px) {
  .image-card {
    padding: 10px 12px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media screen and (min-width: 768px) {
  .image-card {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.image-card__item {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}
@media screen and (min-width: 505px) and (max-width: 767px) {
  .image-card__item {
    font-size: 12px;
  }
}
.image-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
@media screen and (min-width: 505px) and (max-width: 767px) {
  .image-card__title {
    font-size: 14px;
  }
}

.overlay-card {
  position: relative;
  overflow: hidden;
}
.overlay-card__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  opacity: 0;
  visibility: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-label__link:hover .overlay-card__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 479px) {
  .overlay-card__text {
    padding: 24px 16px;
  }
}
@media screen and (min-width: 480px) {
  .overlay-card__text {
    padding: 77px 24px 77px 24px;
  }
}
@media screen and (min-width: 768px) {
  .overlay-card__text {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay-card__text {
    padding: 63px 24px;
  }
}

.footer-conteiner {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-block {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.adress-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .adress {
    margin-bottom: 60px;
  }
}
.adress__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.71;
}
.adress__list > li:not(:last-child) {
  margin-bottom: 9px;
}
.adress__link {
  display: inline-block;
  font-style: normal;
  line-height: 1.714;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link--contact {
  color: rgba(255, 255, 255, 0.6);
}
.adress__link--contact:hover, .adress__link--contact:focus {
  color: #2196F3;
}
.adress__link--color {
  color: #FFFFFF;
}
.adress__link--color:hover, .adress__link--color:focus {
  color: #2196F3;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.71;
}
@media screen and (min-width: 768px) {
  .social {
    margin-left: 74px;
  }
}
.social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .social__title {
    text-align: left;
    margin-top: 0;
  }
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__list > li:not(:last-child) {
  margin-right: 10px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
}
.social__icon {
  fill: currentColor;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .form-footer {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .form-footer {
    width: 570px;
    margin-left: 93px;
  }
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
.subscribe__footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscribe__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.subscribe__email {
  height: 50px;
  padding: 15px 16px 15px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  color: #FFFFFF;
  outline: none;
}
@media screen and (max-width: 1199px) {
  .subscribe__email {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 479px) {
  .subscribe__email {
    width: 200px;
  }
}
@media screen and (min-width: 480px) {
  .subscribe__email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__email {
    width: 358px;
    margin-right: 12px;
  }
}
.subscribe__button {
  cursor: pointer;
  padding: 10px 28px 10px 29px;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
}
@media screen and (min-width: 480px) {
  .subscribe__button {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .subscribe {
    margin-left: 12px;
  }
}
.subscribe__icon {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.product-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
.product-label__icon {
  fill: #212121;
}
@media screen and (min-width: 768px) {
  .product-label {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .product-label {
    max-width: 270px;
  }
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .product-list__label {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .product-list__label {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    text-align: left;
    margin-bottom: 30px;
  }
  .product-list__label:nth-child(odd) {
    margin-right: 30px;
  }
  .product-list__label:nth-child(n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .product-list__label {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
  .product-list__label:not(:last-child) {
    margin-right: 30px;
  }
}
.product-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .product-list__title {
    text-align: left;
  }
}
.product-list__item {
  width: 100%;
  line-height: 1.71;
  color: #757575;
}

.section--project {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section.section--project {
    display: none;
  }
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.project-list__item {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.project-list__item:not(:last-child) {
  margin-right: 30px;
}

.container__title--project {
  margin-bottom: 50px;
}

.project-label {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.project-label__item {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team-section {
  background-color: #F5F4FA;
}

.team {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    margin-top: 50px;
    padding-bottom: 0;
  }
}
.team__item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    text-align: left;
    margin-bottom: 30px;
  }
  .team__item:nth-child(odd) {
    margin-right: 30px;
  }
  .team__item:nth-child(n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
  .team__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.team__item__image {
  width: 100%;
}

.member-card {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.member-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.142;
  color: #212121;
  text-align: center;
}
.member-card__item {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  color: #757575;
}

.network-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}
.network-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AFB1B8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network-list__link:hover, .network-list__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}
.network-list__item:not(:last-child) {
  margin-right: 10px;
}
.network-list__icon {
  fill: currentColor;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .clients-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.clients-list__label {
  margin-right: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .clients-list__label {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .clients-list__label:nth-child(2n) {
    margin-right: 0;
  }
  .clients-list__label:nth-child(n+5) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .clients-list__label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
  .clients-list__label:nth-child(n+4) {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .clients-list__label:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__label {
    margin-bottom: 0;
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
  .clients-list__label:last-child {
    margin-right: 0;
  }
}
.clients-list__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients-list__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}
.clients-list__link:hover, .clients-list__link:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
}
.clients-list__logo {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.head-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.head-modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.head-modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 6px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: #FFFFFF;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head-modal__button:hover, .head-modal__button:focus {
  fill: #2196F3;
  border: 1px solid #2196F3;
}
.head-modal__icon {
  padding-top: 2px;
}

.modal {
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 20;
}
@media screen and (max-width: 479px) {
  .modal {
    width: 80%;
    max-height: 100%;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__field {
  margin-bottom: 30px;
}
.modal__label {
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__input {
  padding: 0 42px;
  width: 100%;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus, .modal__input:focus-visible {
  border: 1px solid #2196F3;
}
.modal__item {
  display: block;
  position: relative;
}
.modal__icon {
  position: absolute;
  display: inline-block;
  left: 15px;
  top: 50%;
  width: 18px;
  height: 18px;
  fill: currentColor;
  outline: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover ~ .modal__icon, .modal__input:focus ~ .modal__icon, .modal__input:focus-visible ~ .modal__icon {
  color: #2196F3;
}
.modal__textarea {
  padding: 12px 16px 12px 16px;
  margin-bottom: -4px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}
.modal__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-top: 0;
}
.modal__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-top: 0;
}
.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-top: 0;
}
.modal__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-top: 0;
}
.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-top: 0;
}
.modal__textarea:hover, .modal__textarea:focus, .modal__textarea:focus-visible {
  border: 1px solid #2196F3;
}
.modal__submit {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 50px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-box {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.check-box__label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  margin-left: 12px;
  margin-top: 20px;
  height: 24px;
  width: 100%;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .check-box__label {
    font-size: 14px;
    line-height: 1.71;
  }
}
.check-box__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check-box__link {
  margin-left: 2px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .check-box__link {
    font-size: 14px;
    line-height: 1.71;
  }
}
.check-box__icon {
  margin-left: -22px;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #212121;
  background-color: #FFFFFF;
  border-radius: 2px;
}
.check-box__input:checked + .check-box__icon {
  background-color: #2196F3;
  border-color: #2196F3;
}/*# sourceMappingURL=main.css.map */