.logo {
font-family: $logo-font;
font-weight: 700;
font-size: 24px;
line-height: 1.16;
text-decoration: none;
color: $accent-color;

@include desktop {
    font-size: 26px;
    line-height: 1.192;
}

&--header{
padding: 16px 0;

@include tablet {
    padding: 26px 0;
   
}

@include desktop {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}
}

&--footer {
display: inline-block;
margin-bottom: 20px;
}

&__dark{
color: $title-text-color;
}

&__light{
    color: $native-color;
    }

}





    
    