body {
    font-family: $main-font;
    font-size: 14px;
    background-color: $native-color;
    letter-spacing: 0.03em;
    }
    
    p, 
    h1,
    h2,
    h3, 
    ul{
    margin: 0;
    padding: 0;
    list-style: none;
    }
    
    img {
    display: block;
    width: 100%;
    height: auto;
    }
    
    .container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;

        @media screen and (min-width: 768px) {
            width: 768px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 1200px;
        }
    }


    
    .section {
        padding-bottom: 60px;
        padding-top: 60px;
    
        @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
        

    }

    .container__title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.166;
        text-align: center;
        color: $title-text-color;
       
        @media screen and (max-width: 1199px){
            margin-bottom: 30px;
        }

        @include desktop {
            margin-bottom: 50px;
        }
            
        }
        